@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/times.eot');
    src: local('times'), local('times'),
        url('../fonts/times.eot?#iefix') format('embedded-opentype'),
        url('../fonts/times.woff2') format('woff2'),
        url('../fonts/times.woff') format('woff'),
        url('../fonts/times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Snell Roundhand';
    src: url('../fonts/Snell Roundhand.otf');
    src: local('Snell Roundhand'), local('times'),
        url('../fonts/Snell Roundhand.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Snell Roundhand.woff2') format('woff2'),
        url('../fonts/Snell Roundhand.woff') format('woff'),
        url('../fonts/Snell Roundhand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --font-family: "Crimson Text", sans-serif;
    --second-family: "Times New Roman", sans-serif;
    --third-family: "Snell Roundhand", sans-serif;
}