doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Modular Pug Example
    link(rel="stylesheet", href="style.css")
  body

  //- Header
  include modules/_header.pug

  //- Hero
  include modules/_hero.pug



