doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Modular Pug Example
    link(rel="stylesheet", href="./css/style.css")
  body

  //- Header
  include modules/_header.pug

  //- Hero
  include modules/_hero.pug

  //- About Us
  include modules/_about.pug

  //- Our Values
  include modules/_our-values.pug

  //- Cta Contact
  include modules/_cta.pug

