doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Modular Pug Example
    link(rel="stylesheet", href="./css/style.css")

    //- font
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  body

  //- Header
  include modules/_header.pug

  //- Hero
  include modules/_hero.pug

  //- Welcome
  include modules/_welcome.pug

  //- Featured
  include modules/_featured.pug

  //- Title Banner
  include modules/_title-banner.pug

  //- About Us
  include modules/_about.pug

  //- Our Values
  include modules/_our-values.pug

  //- Cta Contact
  include modules/_cta-secondary.pug

  //- Cta Primary
  include modules/_cta-primary.pug

