section.about-us
    .container
        .about-us__wrapper 
            
            .about-us__top 
                .section__title About Our <strong>Brand</strong>
                .section__subtitle Angelik Pathway LLC is dedicated to pioneering concepts and ideas that are both original and unique, embodying the essence of true creative invention company.

            .about-us__bottom 
                .about-us__product-card
                    img(src="https://via.placeholder.com/275x300", alt="")

                .about-us__product-card
                    img(src="https://via.placeholder.com/275x300", alt="")

                .about-us__product-card
                    img(src="https://via.placeholder.com/275x300", alt="")
    
