section.about-us
    .about-us__cloud-1
        img(src="./img/Asset 2 1.png", alt="")
    .about-us__cloud-2
        img(src="./img/Asset 3 1.png", alt="")
    .container
        .about-us__wrapper 
            
            .about-us__top 
                .section__title About Our <i>Brand</i>
                .section__subtitle Angelik Pathway LLC is dedicated to pioneering concepts and ideas that are both original and unique, embodying the essence of true creative invention company.

            .about-us__bottom 
                .about-us__product-card
                    img(src="./img/Group 17.jpg", alt="")

                .about-us__product-card
                    img(src="./img/Group 18.jpg", alt="")

                .about-us__product-card
                    img(src="./img/Group 19.jpg", alt="")
    
