section.cta-secondary
    .cta-secondary__bg 
        img(src="./img/Rectangle 12.jpg", alt="")
    .container 
        .cta-secondary__wrapper 
            h3.cta-secondary__title Are you ready to begin <i>a new path?</i>
            p.cta-secondary__subtitle Sign up today and withness the journey 

            .cta-secondary__form
                input(type="email", name="", placeholder="Email Address")
                button(type="submit") SUBMIT