section.cta-primary
    .container
        .cta-primary__wrapper 
            .cta-primary__info 
                h3.cta-primary__title Transform<br>Your<br><strong>vision</strong>
                p.cta-primary__subtitle Collaborations are by invitation only. However, if you are interested you can try your luck.
            .cta-primary__form
                .cta-primary__form--top 
                    input(type="name", placeholder="Name")
                    input(type="email", placeholder="Email")

                input(type="text", placeholder="Message", name="Message")
                button(type="submit") SUBMIT