section.featured 
    .container 
        .featured__wrapper 
            h3.featured__title Featured <strong>Invention</strong>
            p.featured__subtitle Introducing the first invention of Angelik Pathway, LLC.
            img.featured__img(src="https://via.placeholder.com/400x260", alt="")

            h3.featured__title The Luxury Fragrance Ash Tray 

            img.featured__star-1(src="https://via.placeholder.com/70x70", alt="")
            img.featured__star-2(src="https://via.placeholder.com/32x32", alt="")