section.featured 
    .featured__bg 
        img(src="./img/719 1.jpg", alt="")
    .container 
        .featured__wrapper 
            h3.featured__title Featured <i>Invention</i>
            p.featured__subtitle Introducing the first invention of Angelik Pathway, LLC.
            img.featured__img(src="./img/Frame.jpg", alt="")

            h3.featured__title The Luxury Fragrance Ash Tray 

            .featured__star-1 
                <svg width="108" height="107" viewBox="0 0 108 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_59_45)">
                        <path d="M34.517 57.819C41.9484 59.9297 47.0493 64.8008 49.2005 72.2209C50.8139 77.7901 51.8406 99.7584 53.1281 105.409C53.2422 105.928 53.3726 106.432 53.5029 106.984C54.7741 101.301 55.8986 79.5599 57.2838 74.1206C58.2943 70.1102 60.1521 66.4407 63.1019 63.4206C67.3717 59.0367 72.9452 57.3156 78.6655 56.0167C82.8701 55.0587 103.437 54.3768 108 53.5162C107.43 53.4026 107.201 53.3539 106.973 53.3052C100.927 51.9738 78.5188 50.9021 72.5704 49.246C65.4975 47.2813 60.5595 42.6539 58.2454 35.6396C56.9579 31.759 56.0453 27.7486 55.1 23.7706C54.5134 21.3351 54.1874 2.59788 53.7148 -0.0324707C52.411 5.78028 51.3191 27.6024 49.8687 33.0904C47.7664 41.014 42.9588 46.778 34.9407 49.181C28.7967 51.0158 6.16025 52.2498 0 53.7273C0.570394 53.8247 1.53191 53.9546 2.46084 54.1657C7.72476 55.351 29.3345 56.3252 34.517 57.7865V57.819Z" fill="url(#paint0_linear_59_45)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_59_45" x1="54" y1="-0.0324707" x2="54" y2="106.984" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#625D5A" />
                        <stop offset="0.45" stop-color="#EEEEEE" />
                        <stop offset="1" stop-color="#898481" />
                        </linearGradient>
                        <clipPath id="clip0_59_45">
                        <rect width="108" height="107" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

            .featured__star-2
                <svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_59_47)">
                        <path d="M20.4545 34.043C24.8583 35.2858 27.8811 38.1537 29.1559 42.5226C30.112 45.8017 30.7204 58.7363 31.4833 62.0631C31.5509 62.3691 31.6282 62.6654 31.7055 62.9905C32.4587 59.6445 33.1251 46.8437 33.946 43.6411C34.5447 41.2798 35.6457 39.1193 37.3937 37.3411C39.924 34.76 43.2268 33.7466 46.6166 32.9818C49.1082 32.4178 61.2959 32.0163 64 31.5096C63.662 31.4427 63.5268 31.414 63.3916 31.3853C59.8087 30.6014 46.5297 29.9704 43.0047 28.9953C38.8133 27.8386 35.8871 25.114 34.5158 20.9841C33.7528 18.6993 33.212 16.338 32.6519 13.9958C32.3042 12.5618 32.1111 1.52961 31.831 -0.019104C31.0584 3.40335 30.4113 16.2519 29.5518 19.4832C28.306 24.1484 25.4571 27.5422 20.7056 28.9571C17.0647 30.0373 3.65052 30.7639 0 31.6339C0.338011 31.6912 0.907801 31.7677 1.45828 31.892C4.57764 32.5899 17.3834 33.1634 20.4545 34.0238V34.043Z" fill="url(#paint0_linear_59_47)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_59_47" x1="32" y1="-0.019104" x2="32" y2="62.9905" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#625D5A" />
                        <stop offset="0.45" stop-color="#EEEEEE" />
                        <stop offset="1" stop-color="#898481" />
                        </linearGradient>
                        <clipPath id="clip0_59_47">
                        <rect width="64" height="63" fill="white" />
                        </clipPath>
                    </defs>
                </svg>