header.header
    .container
        //- header__nav
        nav.header__nav 
            //- header__menu
            ul.header__menu 
                li.header__item 
                    a.header__link(href="") About
                li.header__item 
                    a.header__link(href="") Contact
            //- header__logo
            .header__logo 
                img(src="https://via.placeholder.com/230x30", alt="")

            .header__buttons
                a.header__account
                    img(src="https://via.placeholder.com/30x30", alt="")
                a.header__search 
                    img(src="https://via.placeholder.com/30x30", alt="")
                a.header__cart 
                    img(src="https://via.placeholder.com/30x30", alt="")