header.header
    //- header__nav
    nav.header__nav 
        //- header__menu
        ul.header__menu 
            li.header__item 
                a.header__link(href="") About
            li.header__item 
                a.header__link(href="") Contact
            
        //- header__logo
        .header__logo 
            img(src="./img", alt="")

        .header__buttons
            .header__account
            
            .header__search 

            .header__cart 
    