section.hero
    .hero__cloud-1
        img(src="./img/Asset 1 1.png", alt="")

    .hero__cloud-2
        img(src="./img/Asset 1 2.png", alt="")
    .container
        .hero__wrapper 
            h1.hero__title Invent<br><i>Vision</i>
            p.hero__subtitle Unique Inventions And Exclusive Collaborations
            .hero__bg 
                
            .hero__img 
               img(src="./img/Rectangle 1.png", alt="")
            .hero__star-1 
                <svg width="108" height="107" viewBox="0 0 108 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_52_45)">
                        <path d="M34.517 57.819C41.9484 59.9297 47.0493 64.8008 49.2005 72.2209C50.8139 77.7901 51.8406 99.7584 53.1281 105.409C53.2422 105.928 53.3726 106.432 53.5029 106.984C54.7741 101.301 55.8986 79.5599 57.2838 74.1206C58.2943 70.1102 60.1521 66.4407 63.1019 63.4206C67.3717 59.0367 72.9452 57.3156 78.6655 56.0167C82.8701 55.0587 103.437 54.3768 108 53.5162C107.43 53.4026 107.201 53.3539 106.973 53.3052C100.927 51.9738 78.5188 50.9021 72.5704 49.246C65.4975 47.2813 60.5595 42.6539 58.2454 35.6396C56.9579 31.759 56.0453 27.7486 55.1 23.7706C54.5134 21.3351 54.1874 2.59788 53.7148 -0.0324707C52.411 5.78028 51.3191 27.6024 49.8687 33.0904C47.7664 41.014 42.9588 46.778 34.9407 49.181C28.7967 51.0158 6.16025 52.2498 0 53.7273C0.570394 53.8247 1.53191 53.9546 2.46084 54.1657C7.72476 55.351 29.3345 56.3252 34.517 57.7865V57.819Z" fill="url(#paint0_linear_52_45)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_52_45" x1="54" y1="-0.0324707" x2="54" y2="106.984" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#625D5A" />
                        <stop offset="0.45" stop-color="#EEEEEE" />
                        <stop offset="1" stop-color="#898481" />
                        </linearGradient>
                        <clipPath id="clip0_52_45">
                        <rect width="108" height="107" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            .hero__star-2 
                <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_52_53)">
                        <path d="M17.5781 29.1797C21.3626 30.2449 23.9603 32.7032 25.0558 36.448C25.8775 39.2586 26.4003 50.3454 27.056 53.197C27.1141 53.4592 27.1805 53.7132 27.2469 53.9918C27.8942 51.1239 28.4669 40.1518 29.1723 37.4067C29.6869 35.3827 30.633 33.5308 32.1352 32.0067C34.3096 29.7943 37.148 28.9257 40.0611 28.2701C42.2024 27.7867 52.6762 27.4425 55 27.0082C54.7095 26.9509 54.5933 26.9263 54.4771 26.9017C51.3981 26.2298 39.9864 25.689 36.9571 24.8531C33.3552 23.8616 30.8405 21.5263 29.662 17.9864C29.0063 16.028 28.5416 14.004 28.0602 11.9964C27.7614 10.7673 27.5954 1.31111 27.3548 -0.0163574C26.6908 2.91718 26.1348 13.9302 25.3961 16.6999C24.3255 20.6987 21.8772 23.6076 17.7939 24.8204C14.665 25.7463 3.13717 26.3691 0 27.1148C0.290478 27.1639 0.780142 27.2295 1.25321 27.336C3.93391 27.9342 14.9389 28.4258 17.5781 29.1633V29.1797Z" fill="url(#paint0_linear_52_53)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_52_53" x1="27.5" y1="-0.0163574" x2="27.5" y2="53.9918" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#625D5A" />
                        <stop offset="0.45" stop-color="#EEEEEE" />
                        <stop offset="1" stop-color="#898481" />
                        </linearGradient>
                        <clipPath id="clip0_52_53">
                        <rect width="55" height="54" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            .hero__star-3 
                <svg width="108" height="107" viewBox="0 0 108 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_52_45)">
                        <path d="M34.517 57.819C41.9484 59.9297 47.0493 64.8008 49.2005 72.2209C50.8139 77.7901 51.8406 99.7584 53.1281 105.409C53.2422 105.928 53.3726 106.432 53.5029 106.984C54.7741 101.301 55.8986 79.5599 57.2838 74.1206C58.2943 70.1102 60.1521 66.4407 63.1019 63.4206C67.3717 59.0367 72.9452 57.3156 78.6655 56.0167C82.8701 55.0587 103.437 54.3768 108 53.5162C107.43 53.4026 107.201 53.3539 106.973 53.3052C100.927 51.9738 78.5188 50.9021 72.5704 49.246C65.4975 47.2813 60.5595 42.6539 58.2454 35.6396C56.9579 31.759 56.0453 27.7486 55.1 23.7706C54.5134 21.3351 54.1874 2.59788 53.7148 -0.0324707C52.411 5.78028 51.3191 27.6024 49.8687 33.0904C47.7664 41.014 42.9588 46.778 34.9407 49.181C28.7967 51.0158 6.16025 52.2498 0 53.7273C0.570394 53.8247 1.53191 53.9546 2.46084 54.1657C7.72476 55.351 29.3345 56.3252 34.517 57.7865V57.819Z" fill="url(#paint0_linear_52_45)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_52_45" x1="54" y1="-0.0324707" x2="54" y2="106.984" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#625D5A" />
                        <stop offset="0.45" stop-color="#EEEEEE" />
                        <stop offset="1" stop-color="#898481" />
                        </linearGradient>
                        <clipPath id="clip0_52_45">
                        <rect width="108" height="107" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            
