section.hero
    .hero__wrapper 
        h1.hero__title Ivent<br> Vision
        p.hero__subtitle Unique Inventions And Exclusive Collaborations
        .hero__bg 
            img(src="", alt="")
        .hero__img 
            img(src="https://via.placeholder.com/430x490", alt="")
        .hero__star-1 
            img(src="https://via.placeholder.com/70x70", alt="")
        .hero__star-2 
            img(src="https://via.placeholder.com/32x32", alt="")
        .hero__star-3 
            img(src="https://via.placeholder.com/70x70", alt="")
        