section.our-values 
    .our-values__cloud-1
        img(src="./img/Asset 2 2.png", alt="") 
    .our-values__cloud-2 
        img(src="./img/Asset 2 3.png", alt="") 
    .container 
            h3.our-values__title Our Values 
            .our-values__wrapper 
                .our-values__step 
                    h3.our-values__step--title-1 Innovation 
                    p Pioneering groundbreaking solutions through visionary invention and creative development.
                
                //- divider
                .our-values__step-divider 
                    div 

                .our-values__step 
                    h3.our-values__step--title-2 Excellence 
                    p Setting the standart for premium quality and unparalleled creative innovation.

                //- divider
                .our-values__step-divider.our-values__step-divider--2 
                    div 

                .our-values__step 
                    h3.our-values__step--title-3 Partnership 
                    p Fostering elite collaborations that drive transformative business growth.


                    

            