section.welcome
    .container 
        .welcome__wrapper 
            .welcome__info 
                .welcome__logo
                    img(src="https://via.placeholder.com/130x150", alt="")
                h3.weclome__title Welcome to Angelik Pathway
                p.welcome__subtitle Operating with a veil of exclusivity, our opportunities and collaborations are by invitation only, ensuring an elite partnership experience. The genesis of new concepts, derived from the visionary inventions of our CEO, reamins the esteemed property of Angelik Pathway LLC.
            .welcome__path 
                .welcome__bg
                    img(src="", alt="")
                h3 Genesis of new concepts 
                p Which path shall you choose?