/* Styles for the About Us Section */
.about-us {
  margin: 100px 0;
  padding: 100px 0;

    /* Container */
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
  
    /* Wrapper for content */
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  
    /* Top section */
    &__top {
      text-align: center;
  
      .section__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
  
        strong {
          font-weight: 900;
        }
      }
  
      .section__subtitle {
        font-size: 1rem;
        color: #666;
        line-height: 1.5;
      }
    }
  
    /* Bottom section */
    &__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;

      @media (max-width:767px) {
        flex-direction: column;
        align-items: center;
      }

     
      .about-us__product-card {
        flex: 1 1 calc(33.333% - 1rem);
        max-width: 275px;
        text-align: center;
  
        @media (min-width:768px) {
          &:nth-child(2) {
            transform: translateY(80px);
          }
        }
    

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  