/* Styles for the CTA Secondary Section */
.cta-secondary {
  
  position: relative;

  &__bg {
    width: 100%;
    position: absolute;
    max-height: 500px;

      img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
  }

    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;

      max-height: 500px;
    }
  
    /* Wrapper for content */
    &__wrapper {
      text-align: center;
      padding: 100px 0;
      position: relative;
      z-index: 10;
  
      /* Title styling */
      .cta-secondary__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 65px;
        line-height: 92%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #000;
        margin-bottom: 32px;
        margin-top: 0;

        i {
          font-family: var(--third-family);
          font-weight: 500;
          font-size: 78px;

          @media (max-width:1440px) {
            font-size: 62px;
          }
          @media (max-width:991px) {
            font-size: 52px;
          }
          @media (max-width:767px) {
            font-size: 42px;
          }
          @media (max-width:390px) {
            font-size: 38px;
          }
        }

        @media (max-width:1440px) {
          font-size: 52px;
        }
        @media (max-width:991px) {
          font-size: 42px;
        }
        @media (max-width:767px) {
          font-size: 32px;
        }
        @media (max-width:390px) {
          font-size: 28px;
        }
      }
  
      /* Subtitle styling */
      .cta-secondary__subtitle {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 33px;
        line-height: 103%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #000;
        margin-bottom: 62px;

        @media (max-width:1440px) {
          font-size: 28px;
        }
        @media (max-width:991px) {
          font-size: 24px;
        }
        @media (max-width:767px) {
          font-size: 20px;
        }
      }
  
      /* Form block */
      .cta-secondary__form {
        display: flex;
        justify-content: center;

        @media (max-width:767px) {
          flex-direction: column;
          gap: 29px;
        }
        
  
        input[type="email"] {
          padding: 0.75rem;
          border: 1px solid #f3f2ee;
         
          font-size: 1rem;
          width: 100%;
          background-color: transparent;
          max-width: 800px;

          @media (max-width:767px) {
            padding: 20px 24px;
            width: -webkit-fill-available;
          }
  
          &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 162%;
            letter-spacing: 0.02em;
            color: #f9f9f9;
          }
        }
  
        button {
          padding: 0.75rem 2.5rem;
          background: #f3f2ee;
       
          border: none;
          
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.4em;
          text-transform: uppercase;
          color: #282826;
          cursor: pointer;
          text-transform: uppercase;

          @media (max-width:767px) {
            padding: 20px 24px;
            width: -webkit-fill-available;
          }
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
  