// cta primary
/* Styles for the CTA Primary Section */
.cta-primary {
  padding: 52px 0 137px;

  background: #eeedea;

  @media (max-width:767px) {
    padding: 24px 0 95px;
  }

    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;

      @media (max-width:390px) {
        padding: 0 24px;
      }
    }
  
    /* Wrapper for content */
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 32px;

      @media (max-width:467px) {
        flex-direction: column;
      }
    }
  
    /* Info block */
    &__info {
      // flex: 1;
      flex: .8;
      position: relative;

      .cta-primary__star {
        position: absolute;
        right: 50%;
        top: 33%;

        @media (width:1920px) {
          right: 37%;
          top: 24%;
        }

        @media (max-width:991px) {
          right: 22%;
          top: 23%;
        }
        @media (max-width:390px) {
          right: 14%;
          top: 23%;       
        }
      }

      /* Title styling */
      .cta-primary__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 65px;
        line-height: 154%;
        letter-spacing: 0.01em;
        color: #282826;
        margin: 9px 0;

        @media (max-width:991px) {
          font-size: 55px;
          margin-bottom: 16px;
        }
        @media (max-width:567px) {
          font-size: 45px;
        }
        @media (max-width:390px) {
          margin: 42px 0px 0;
        }
  
        i {
          font-family: var(--third-family);
          font-weight: 500;
        }
      }
  
      /* Subtitle styling */
      .cta-primary__subtitle {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 28px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #282826;

        max-width: 490px;

        margin: 2rem 0;
        line-height: 32px;

        @media (max-width:991px) {
          font-size: 24px;
        }
        @media (max-width:567px) {
          font-size: 20px;
        }
        @media (max-width:390px) {
          line-height: 32px;
          margin: 12px 0;
          font-size: 18px;
        }
      }
  
      /* Star image styling */
      .cta-primary__star {
        display: block;
        width: 70px;
        height: 70px;
        margin-top: 1rem;
      }
    }
  
    /* Form block */
    &__form {
      flex: 1;
      
      width: -webkit-fill-available;

      @media (min-width:1441px) {
        margin-right: 113px;
        margin-top: 92px;
      }
  
      /* Top section of the form */
      &--top {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (max-width:567px) {
          flex-direction: column;
        }
  
        input {
          flex: 1;
          padding: 0.75rem;
          border: 1px solid #282826;
          background-color: transparent;
          font-size: 1rem;

          @media (max-width:390px) {
            padding: 27px;
          }

          &:focus-visible {
            outline: #282826;
          }
  
          &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 162%;
            letter-spacing: 0.02em;
            color: #282826;
          }
        }
      }
  
      /* Message input styling */
      textarea {
        width: -webkit-fill-available;
        background-color: transparent;
        border: 1px solid #282826;
        padding-left: 24px;
        padding-top: 24px;
        margin-bottom: 32px;

        &::placeholder {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 21px;
          line-height: 162%;
          letter-spacing: 0.02em;
          color: #282826;

          
        }
        &:focus-visible {
          outline: #282826;
        }
      }
  
      /* Submit button styling */
      button {
        display: inline-block;
        padding: 1rem 4.5rem;
        background-color: #282826;
        border: 1px solid #282826;
        color: #fff;
        border: none;
        
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;

        @media (max-width:767px) {
          padding: 20px 24px;
          width: -webkit-fill-available;
        }
  
        &:hover {
          transition: .2s ease;
          background-color: #fff;
          color: #282826;
        }
      }
    }
  }
  