// cta primary
/* Styles for the CTA Primary Section */
.cta-primary {
  padding: 62px 0;

  background: #eeedea;

    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;
    }
  
    /* Wrapper for content */
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width:467px) {
        flex-direction: column;
      }
    }
  
    /* Info block */
    &__info {
      flex: 1;
      position: relative;

      .cta-primary__star {
        position: absolute;
        right: 50%;
        top: 33%;
      }

      /* Title styling */
      .cta-primary__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 65px;
        line-height: 154%;
        letter-spacing: 0.01em;
        color: #282826;
  
        i {
          font-family: var(--third-family);
          font-weight: 500;
        }
      }
  
      /* Subtitle styling */
      .cta-primary__subtitle {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 28px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #282826;

        max-width: 490px;
      }
  
      /* Star image styling */
      .cta-primary__star {
        display: block;
        width: 70px;
        height: 70px;
        margin-top: 1rem;
      }
    }
  
    /* Form block */
    &__form {
      flex: 1;

      width: -webkit-fill-available;
  
      /* Top section of the form */
      &--top {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        @media (max-width:567px) {
          flex-direction: column;
        }
  
        input {
          flex: 1;
          padding: 0.75rem;
          border: 1px solid #282826;
          background-color: transparent;
          font-size: 1rem;

          &:focus-visible {
            outline: #282826;
          }
  
          &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 162%;
            letter-spacing: 0.02em;
            color: #282826;
          }
        }
      }
  
      /* Message input styling */
      textarea {
        width: -webkit-fill-available;
        background-color: transparent;
        border: 1px solid #282826;
        padding-left: 24px;
        padding-top: 24px;
        margin-bottom: 50px;

        &::placeholder {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 21px;
          line-height: 162%;
          letter-spacing: 0.02em;
          color: #282826;

          
        }
        &:focus-visible {
          outline: #282826;
        }
      }
  
      /* Submit button styling */
      button {
        display: inline-block;
        padding: 0.75rem 2.5rem;
        background-color: #282826;
        color: #fff;
        border: none;
        
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
  
        &:hover {
          background-color: #282826;
        }
      }
    }
  }
  