/* Styles for the Hero Section */
.hero {
  background: #eeedea;
  position: relative;
  height: calc(100vh - 75px);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 41px;
    display: flex;
    width: 100%;
    height: 536px;
    background: linear-gradient(180deg, rgba(243, 242, 238, 0) 0%, #eeedea 100%);

    @media (max-height:899px) {
      height: 100%;
      bottom: 0;
    }
  }

  // background: linear-gradient(180deg, rgba(243, 242, 238, 0) 0%, #eeedea 100%);
    // container
    .container {
      height: 100%;
    }

    /* Wrapper for hero content */
    &__wrapper {
      position: relative;
      text-align: center;
      
      height: 100%;

      display: flex;
      justify-content: space-between;

      @media (max-width:1200px) {
        padding: 0 32px;
      }
      @media (max-width:767px) {
        flex-direction: column;
      }
    }
  
    /* Title styling */
    &__title {
      font-weight: 400;
      font-size: 119px;
      line-height: 124%;
      letter-spacing: 0.01em;
      color: #282826;
      font-family: var(--second-family);

      z-index: 20;
     

      height: fit-content;

      position: relative;

      // animation
      transition: 2s ease;
      transform: translateX(-400px);

      

      &.active {
        transition: 2s ease;
        transform: translateX(0);
      }

      &::after {
        content: '';
        position: absolute;
        top: 120%;
        left: 0;
        width: 600px;
        height: 2px;
        background: linear-gradient(90deg, rgba(137,132,129,1) 0%, rgba(255,255,255,0.1) 100%);
        @media (max-width:467px) {
          width: 100%;
        }
      }
  
      br {
        display: block;


        @media (max-width:1024px) {
          display: none;
        }
      }

      @media (max-width:1440px) {
        font-size: 82px;
      }
      @media (max-width:767px) {
        font-size: 62px;
      }
      @media (max-width:567px) {
        font-size: 52px;
      }
      
    }
  
    /* Subtitle styling */
    &__subtitle {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #282826;
      
      display: flex;
      align-items: flex-end;

      height: fit-content;

      max-width: 470px;
      text-align: left;

      margin-top: auto;
      margin-bottom: 200px;

      position: relative;

      z-index: 20;

      // animation
      transition: 3s ease;
      transform: translateX(1500px);
      &.active {
        transition: 3s ease;
        transform: translateX(0);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 140%;
        left: 0;
        width: 500px;
        height: 2px;
        background: linear-gradient(90deg, rgba(137,132,129,1) 0%, rgba(255,255,255,0.1) 100%);
        transform: rotate(180deg);
        @media (max-width:767px) {
          transform: rotate(0);
        }
        @media (max-width:467px) {
          width: 100%;
        }
      }

      @media (max-width:1440px) {
        font-size: 18px;
      }
      @media (max-width:467px) {
        margin-bottom: 100px;
      }
    }
  
    /* Background image styling */
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    /* Main image styling */
    &__img {
      margin: 0 auto;
      max-width:  665px;
      height: auto;
      position: absolute;

      left: 0;
      right: 0;
      top: 10%;

      transition: 1s ease;

      @media (max-width:1440px) {
        max-width: 590px;

      } 
      @media (max-height:899px) {
        max-width: 490px;
      }
      @media (max-width:991px) {
        max-width: 390px;
      }
      @media (max-width:567px) {
        max-width: 290px;
        top: 25%;
      }
      @media (max-width:390px) {
        width: 204px;
        height: 240px;
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }
  
    /* Star elements */
    &__star-1,
    &__star-2,
    &__star-3 {
      position: absolute;
  
      /* Position for each star */
      &.hero__star-1 {
        top: 45%;
        right: 10%;
        
        z-index: 15;
        transition: 1s ease;
        opacity: 0;
        transform: translateY(100px);

        &.active {
          transition: 1s ease;
          opacity: 1;
          transform: translateY(0);
        }
        @media (max-width:467px) {
          display: none;
        }
      }
  
      &.hero__star-2 {
        top: 25%;
        right: 5%;
        
        z-index: 15;
        transition: 1s ease;
        opacity: 0;
        transform: translateY(100px);

        &.active {
          transition: 1s ease;
          opacity: 1;
          transform: translateY(0);
        }
        @media (max-width:467px) {
          display: none;
        }
      }
  
      &.hero__star-3 {
        bottom: 15%;
        left: 10%;
        
        z-index: 15;
        transition: 2s ease;
        opacity: 0;
        transform: translateY(100px);

        &.active {
          transition: 2s ease;
          opacity: 1;
          transform: translateY(0);
        }

        @media (max-width:767px) {
          display: none;
        }
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }

    &__cloud-1 {
      position: absolute;
      right: 0;
      top: 50%;
      mix-blend-mode: screen;
      z-index: 10;
      transition: 1.5s ease-out;

      transform: translateX(100px);

      &.active {
        transition: 1.5s ease-out;

        transform: translateX(0);
      }

      @media (max-width:467px) {
        right: -130px;
      }

        img {
          mix-blend-mode: screen;
          @media (max-width:991px) {
            width: 300px;
          }
          @media (max-width:467px) {
            width: 246px;
            height: 261px;  
          }
        }
    }
    &__cloud-2 {
      position: absolute;
      top: 0;
      left: -300px;
      mix-blend-mode: screen;
      z-index: 10;
      transition: 1.5s ease-out;
      transform: translateX(-200px);

      &.active {
        transition: 1.5s ease-out;

        transform: translateX(0);
      }

      @media (max-width:991px) {
        left: -91px;
        top: 91px;
      }

        img {
          mix-blend-mode: screen;
          @media (max-width:991px) {
            width: 300px;
          }
          @media (max-width:467px) {
            width: 246px;
            height: 261px;
          }
        }
    }
  }
  