/* Styles for the Our Values Section */
.our-values {
    padding: 126px 0 167px;
    background: #dedede;

    position: relative;

    overflow: hidden;

    @media (max-width:467px) {
      padding: 64px 0 125px;
    }
    @media (max-width:390px) {
      padding: 48px 0 109px;
    }

    &__cloud {
      &-1 {
        position: absolute;
        mix-blend-mode: screen;
        left: 0;
        bottom: -70%;

        @media (max-width:567px) {
          display: none;
        }

          img {
            mix-blend-mode: screen;
          }
      }
      &-2 {
        position: absolute;
        mix-blend-mode: screen;
        right: 0;
            bottom: -209px;

        @media (max-width:767px) {
          width: 341px;
          height: 192px;
          bottom: -41px;

        }

          img {
            mix-blend-mode: screen;

            @media (max-width:767px) {
              width: 341px;
              height: 192px;
            }
          }
      }
    }

    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;
  
      /* Title styling */
      .our-values__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        text-align: center;
        color: #282826;
        margin-bottom: 2rem;

        @media (max-width:991px) {
          font-size: 22px;
        }
        @media (max-width:767px) {
          font-size: 20px;
        }
        @media (max-width:467px) {
          font-size: 18px;
        }
      }
    }

    &__title {
      
      @media (max-width:390px) {
        margin-bottom: 4px;
      }
    }
  
    /* Wrapper for steps */
    &__wrapper {
      display: flex;
      
      justify-content: space-between;
      gap: 2rem;
      
      position: relative;
      z-index: 10;

      @media (max-width:767px) {
        flex-wrap: wrap;
      }
      @media (max-width:467px) {
        flex-direction: column;
      }
      @media (max-width:390px) {
        gap: 0rem;
        padding: 66px 0;
      }
    }
  
    /* Individual step */
    &__step {
      flex: 1 1 calc(33.333% - 1rem);
      text-align: center;

      &-3 {
        p {
          @media (max-width:767px) {
            text-align: center !important;
          }
        }
        
      }

      &--title {
        &-1 {
          font-family: var(--font-family);
          
        }
        &-2 {
          font-family: var(--third-family);
        }
        &-3 {
          font-family: var(--font-family);

          
        }
      }
  
      h3 {
        font-weight: 400;
        font-size: 65px;
        line-height: 92%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #282826;
        margin-bottom: 1rem;

        @media (max-width:1440px) {
          font-size: 55px;
        }
        @media (max-width:991px) {
          font-size: 45px;
        }
        @media (max-width:767px) {
          font-size: 35px;
        }
        @media (max-width:390px) {
          font-size: 35px;
          
        }
      }
  
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.02em;
        color: #282826;

        text-align: left;

        @media (max-width:467px) {
          text-align: center;
        }
      }
    }
    
    /* Step divider */
    &__step-divider {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width:991px) {
        display: none;
      }

      &--2 {
        @media (max-width:767px) {
          display: none;
        }
      }
  
      div {
        width: 200px;
        height: 2px;
        background: radial-gradient(circle, rgba(255,255,255,0.3029586834733894) 50%, rgba(137,132,129,1) 100%);

        @media (max-width:1660px) {
          width: 100px;
        }
        @media (max-width:1279px) {
          width: 50px;
        }
        
      }
    }
  }


/* pixel perfect FOR 1920x1080 ONLY */
  @media (width:1920px) {
    .our-values__step-1 h3 {
      margin: 43px 0 0 69px;
    }
    .our-values__step-1 p {
      margin: 43px 0 0 69px;
      max-width: 72%;
    }
    .our-values__step-2 h3 {
      margin: 46px 0 0 -93px;
    }
    .our-values__step-2 p {
      margin: 38px 0 0 -28px;
    }
    .our-values__step-3 h3 {
      margin: 43px 0 0 -127px;
    }
    .our-values__step-3 p {
      margin: 43px 0 0 -76px;
    }

    section.our-values > div.container > div > div:nth-child(2) {
      div {
        width: 171px;
        height: 2px;
        position: relative;
        top: -41px;
        right: 2px;
      }
    }
    .our-values__step-divider--2 {
      div {
        width: 232px;
        position: relative;
        top: -41px;
        left: -47px;
      }
    }
  }
  
 /* pixel perfect FOR 345px ONLY */
 @media(max-width:390px) {
  .our-values__wrapper {
    gap: 34px;
  }
  .our-values__step p {
    max-width: 95%;
  }

 }