/* Styles for the Our Values Section */
.our-values {
    padding: 100px 0;
    background: #dedede;

    position: relative;

    overflow: hidden;

    &__cloud {
      &-1 {
        position: absolute;
        mix-blend-mode: screen;
        left: 0;
        bottom: -70%;

          img {
            mix-blend-mode: screen;
          }
      }
      &-2 {
        position: absolute;
        mix-blend-mode: screen;
        right: 0;
            bottom: -209px;

          img {
            mix-blend-mode: screen;
          }
      }
    }

    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;
  
      /* Title styling */
      .our-values__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        text-align: center;
        color: #282826;
        margin-bottom: 2rem;
      }
    }
  
    /* Wrapper for steps */
    &__wrapper {
      display: flex;
      
      justify-content: space-between;
      gap: 2rem;
      
      position: relative;
      z-index: 10;

      @media (max-width:767px) {
        flex-wrap: wrap;
      }
    }
  
    /* Individual step */
    &__step {
      flex: 1 1 calc(33.333% - 1rem);
      text-align: center;

      &--title {
        &-1 {
          font-family: var(--font-family);
        }
        &-2 {
          font-family: var(--third-family);
        }
        &-3 {
          font-family: var(--font-family);
        }
      }
  
      h3 {
        font-weight: 400;
        font-size: 65px;
        line-height: 92%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #282826;
        margin-bottom: 1rem;
      }
  
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.02em;
        color: #282826;

        text-align: left;
      }
    }
    
    /* Step divider */
    &__step-divider {
      display: flex;
      justify-content: center;
      align-items: center;

      &--2 {
        @media (max-width:767px) {
          display: none;
        }
      }
  
      div {
        width: 200px;
        height: 2px;
        background: radial-gradient(circle, rgba(255,255,255,0.3029586834733894) 50%, rgba(137,132,129,1) 100%);
      }
    }
  }
  