/* Styles for the Title Banner Section */
.title-banner {
  border-top: 2px solid #898481;
  border-bottom: 2px solid #898481;
  background: #eeedea;
    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;
    }
  
    /* Wrapper for content */
    &__wrapper {
      text-align: center;
      padding: 2rem 0;
  
      .title-banner__title {
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 84px;
        line-height: 124%;
        letter-spacing: 0.01em;
        color: #898481;
        quotes: '" "';

        margin: 0;

        @media (max-width:1440px) {
          font-size: 74px;
        }
        @media (max-width:991px) {
          font-size: 64px;
        }
        @media (max-width:767px) {
          font-size: 54px;
        }
        @media (max-width:567px) {
          font-size: 49px;
        }
      }
    }
  }
  