/* Styles for the Welcome Section */
.welcome {
  background: linear-gradient(180deg, #d5d5d5 0%, #d9d9d9 50%, #b6b6b6 100%);
    
    /* Container */
    .container {
      
      margin: 0 auto;
      padding: 0 15px;
      height: 886px;

      @media (min-width:1024px) {
        margin: 0;
      }
      @media (max-width:1024px) {
        height: 969px;

      }
      @media (max-width:390px) {
        height: 970px !important;
      }
    }

    /* Background styling */
    .welcome__bg {
      margin-bottom: 1rem;
      position: absolute;
      width: 100%;
      display: flex;

      @media (max-width:1024px) {
        bottom: 0;
        margin-bottom: 0;
      }

      img {
        width: 64%;
        height: auto;
        margin-left: auto;
        max-height: 886px;
        height: 886px;

        @media (max-width:1024px) {
          width: 100%;
          height: auto;
          margin-left: auto;
          max-height: 500px;
          height: 500px;
        }
        @media (max-width:390px) {
          max-height: 450px;
          height: 501px;
        }
      }
    }
  
    /* Wrapper for content */
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      position: relative;
      height: 100%;

      @media (min-width:1024px) {
        margin-left: 76px;
      }
      @media (max-width:1024px) {
        flex-direction: column;
      }
    }
  
    /* Info block */
    &__info {
      
      text-align: center;
      // width: 34%;
      width: 41%;
      // margin-top: 67px;
      
      

      @media (min-width:1024px) {
        max-width: 510px;
        margin-top: 28px;
      }
      @media (max-width:1024px) {
        width: 100%;
      }
  
      /* Logo styling */
      .welcome__logo {
        margin-bottom: 1rem;

        @media (max-width:1919px) and (min-width:1025px) {
          max-width: 50%;
        }
        @media (max-width:1024px) {
          width: 115px;
          height: 126px;
          margin: 56px auto 0;
        }
        
        svg {
          @media (max-width:1024px) {
            width: 100%;
            height: 100%;
          }
        }

        img {
          width: 130px;
          height: 150px;
          object-fit: contain;

          
        }
      }
  
      /* Title styling */
      .weclome__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 37px;
        line-height: 154%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #282826;

        
        @media (max-width:1440px) {
          font-size: 32px;
        }
        @media (max-width:991px) {
          font-size: 30px;
        }
        @media (max-width:1024px) {
          font-size: 28px;
        }
        @media (max-width:390px) {
          font-size: 26px;
        }
      }
      h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 37px;
        line-height: 154%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #282826;

        @media (max-width:1919px) and (min-width:1025px) {
          max-width: 60%;
          text-align: left;
        }

        @media (max-width:1440px) {
          font-size: 32px;
        }
        @media (max-width:991px) {
          font-size: 30px;
        }
        @media (max-width:1024px) {
          font-size: 28px;
        }
        @media (max-width:390px) {
          font-size: 26px;
        }
      }
  
      /* Subtitle styling */
      .welcome__subtitle {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        letter-spacing: 0.02em;
        color: #282826;

        text-align: left;
        @media (max-width:1919px) and (min-width:1025px) {
          max-width: 80%;
        }
        @media (max-width:1440px) {
          font-size: 24px;
        }
        @media (max-width:991px) {
          font-size: 22px;
        }
        @media (max-width:1024px) {
          font-size: 20px;
        }
        @media (max-width:567px) {
          font-size: 18px;
        }
      }
    }
  
    /* Path block */
    &__path {
     
      text-align: center;
      z-index: 10;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      right: -142px;

      @media (max-width:1279px ) {
        right: 0;
        
      }
      @media (max-width:1199px) {
        width: 60%; 
      }
      @media (max-width:1024px) {
        width: 100%;
        height: 50%;
        bottom: 0;
      }
      
  
      /* Title styling */
      h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 90px;
        line-height: 108%;
        letter-spacing: 0.01em;
        color: #282826;

        @media (max-width:1660px) {
          font-size: 80px;
        }
        @media (max-width:1440px) {
          font-size: 70px;
        }
        @media (max-width:1279px) {
          font-size: 60px;
        }
        @media (max-width:991px) {
          font-size: 50px;
        }
        @media (max-width:1024px) {
          font-size: 40px;
        }
        
      }
  
      /* Text styling */
      p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 37px;
        line-height: 176%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #282826;

        margin: 0 0 68px;
        
        @media (max-width:1660px) {
          font-size: 34px;
        }
        @media (max-width:1440px) {
          font-size: 32px;
        }
        @media (max-width:1279px) {
          font-size: 30px;
        }
        @media (max-width:991px) {
          font-size: 28px;
        }
        @media (max-width:1024px) {
          font-size: 26px;
        }
        @media (max-width:419px) {
          margin: 0 0 36px;
        }
        
      }
    }
  }
  